<div style="text-align: center">
  <h2>Créer un compte</h2>
  <form>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>E-mail</mat-label>
      <input matInput
             placeholder="pat@example.com"
             [formControl]="email"
             (blur)="updateEmailErrorMessage()"
             required>
      <mat-icon matSuffix>alternate_email</mat-icon>
      @if (email.invalid) {
        <mat-error>{{errorEmailMessage}}</mat-error>
      }
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Mot de passe</mat-label>
      <input matInput
             placeholder="●●●●●●●●"
             [formControl]="password"
             (blur)="updatePasswordErrorMessage()"
             [type]="hidePassword ? 'password' : 'text'"
             required>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (password.invalid) {
        <mat-error>{{errorPasswordMessage}}</mat-error>
      }
    </mat-form-field>
    <br>
    <button class="login-button" mat-button type="submit" (click)="submitForm()">S'enregistrer</button>
    @if (errorFormMessage() != '') {
      <mat-error>{{errorFormMessage()}}</mat-error>
    }
  </form>
</div>
