<div>
  <div style="text-align: center;">
    <h3 style="margin-bottom: 0">Tournée {{ deliveryService.deliveryTourInTourSig().refTour }}</h3>
    <h4 style="margin-top: 0">du {{deliveryService.deliveryTourInTourSig().refDay}}</h4>
    <p><i>Entrepôt {{deliveryService.deliveryTourInTourSig().warehouseName}}</i></p>
  </div>
  <div style="margin-left: 0.5em;">
    <p><b>Equipe :</b></p>
    <ul>
      <li><b>Livreurs :</b> {{ deliveryService.deliveryTourInTourSig().deliverymen.join(', ') | titlecase}}</li>
      <li><b>Camion :</b> {{ deliveryService.deliveryTourInTourSig().truck }}</li>
    </ul>
  </div>
</div>
<mat-divider style="background: white"></mat-divider>
<div style="display: flex; flex-direction: row">
  <b style="margin-top: auto; margin-bottom: auto; margin-left: 0.5em">{{ deliveryService.deliveryTourInTourSig().deliveries.length }} Livraisons restantes</b>
  <div style="margin-left: auto; margin-right: 0">
    <button class="side-menu-button" (click)="openMapDialog('0ms', '0ms')">
      <mat-icon>map</mat-icon>
      Visualiser le trajet
    </button>
  </div>
</div>
<mat-divider style="background: white"></mat-divider>
<div>
  @for (delivery of deliveryService.deliveryTourInTourSig().deliveries; track delivery; let i = $index) {
    <mat-card [ngClass]="{'elevated-card-even': i%2 === 0, 'elevated-card-odd': i%2 !=0, 'in-course': delivery.status === 'IN_COURSE' || delivery.status === 'WITH_CUSTOMER'|| delivery.status === 'ASSEMBLY'|| delivery.status === 'UNLOADING'}" (click)="openBottomSheet(delivery)">
      <mat-card-header>
        <mat-card-title><b>({{ i + 1}}) Livraison {{delivery.deliveryId}}</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><b>Client :</b> {{ mapService.formatClientName(delivery) }} - {{mapService.formatAddress(delivery)}}</p>
        <p><b>Commandes :</b> {{ delivery.orders.join(', ') }} </p>
      </mat-card-content>
    </mat-card>
  }
</div>
